*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background-image: url(./images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 64px 0;
}
.links ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.links ul li a{
    padding: 0 16px;
    color: white;
    font-size: 12px;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 600;
}
.links ul li a:hover{
    color: orange;
}
.content{
    padding: 32px 64px 0;
    min-width: 320px;
    max-width: 540px;
}
.content img{
    margin-bottom: 30px;
}
.content p{
    font-size: 20px;
    color: white;
    line-height: 32px;
    letter-spacing: -0.02em;
}
.content .green{
    color: #59ff00;
    font-weight: 600;
}
.content button{
    border: 2px solid #6fbb3f;
    background-color: hsla(0, 0%, 83.5%, 0.15);
    box-shadow: 0 0 16px 0 #6fbb3f;
    padding: 12px 20px;
    color: white;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.3s;
    cursor: pointer;
}
.content button:hover{
    background: #6fbb3f;
}
footer{
    position: absolute;
    bottom: 32px;
    right: 32px;
}
footer ul{
    display: flex;
    align-items: center;
    list-style: none;
}
footer ul li a{
    padding: 0 16px;
    color: white;
    font-size: 12px;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 600;
}
footer ul li a:hover{
    color: orange;
}
@media (max-width: 991px) {
    body{
        background-image: url(./images/back-mobile.jpg);
        /* background-position: bottom; */
        background-position: 50% 100%;
        padding: 128px 64px 0;
    }
    header .links{
        display: none;
    }
    header{
        justify-content: center;
        padding: 0;
    }
    header .logo img{
        width: 40vw;
    }
    .content img{
        display: none;
    }
    .content{
        padding: 0;
        max-width: 100%;
        width: 100%;
    }
    .content p{
        text-align: center;
        max-width: 100%;
        width: 100%;
    }
    .content button{
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }
    header .logo img{
        margin-bottom: 20px;
    }
    footer{
        width: 100%;
        right: 0;
        bottom: 16px;
        display: flex;
        justify-content: center;
    }
    footer ul li a{
        font-size: 14px;
    }
}
@media (max-width: 540px) {
    header .logo img {
        width: 300px;
    }
    footer ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-row-gap: 15px;
        column-gap: 15px;
        list-style: none;
    }
}
@media (max-width: 426px) {
    .content{
        min-width: 0px;
    }
    body{
        padding: 96px 16vw;
    }
    .content p{
        line-height: 120%;
        font-size: 16px;
    }
    header .logo img {
        width: 70vw;
        margin-bottom: 4vw;
    }
}
@media (max-width: 354px) {
    footer ul{
        display: block;
    }
    footer ul li:nth-child(1){
        display: block;
        text-align: center;
        margin-bottom: 10px;
    } 
    footer ul li:nth-child(2), 
    footer ul li:nth-child(3){
        display: inline-block;
    } 
    footer ul li:nth-child(4){
        text-align: center;
        margin-top: 10px;
    }
}



















